<ion-side-menus enable-menu-with-back-views="true">


  <ion-side-menu-content >
    <ion-nav-bar class="bar-positive">

      <ion-nav-buttons side="right">
       <!-- Toggle left side menu -->
       <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-back-button>
     </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="pageContent"></ion-nav-view>
  <!-- Main content, usually <ion-nav-view> -->
  </ion-side-menu-content>

  <!-- Right menu -->
  <ion-side-menu side="right">
    <ion-list>
      <ion-item menu-close>
        welcome, {{firstName}} {{lastName}}
      </ion-item>

        <ion-toggle ng-model="currentStatus.checked" checked="currentStatus.checked" ng-change="toggleStatus()" toggle-class="toggle-calm">Status ({{currentStatus.text}})</ion-toggle>

      <ion-item ui-sref="app.activeUser" menu-close>
      Active User
      </ion-item>
      <ion-item ui-sref="app.about" menu-close>
        About
      </ion-item>
      <ion-item ui-sref="app.chat" menu-close>
        Chat
      </ion-item>
      <ion-item ng-click="logout()" menu-close>
        Logout
      </ion-item>

</ion-list>
  </ion-side-menu>

</ion-side-menus>
