<ion-view view-title="Chat">
  <ion-content overflow-scroll="true">
    <div class="list">

      <!-- <div class="item item-avatar">
        <img src="img/active.png">
        <h2>my name</h2>
        <p>Marty McFlygfkgjfgkjfkgjfkgjfkgjfkgjkfjgkfjgkfgkf</p>
        <p> At :November 05, 1955</p>
      </div> -->


<!-- {{activeusersmessages.data}}  -->
     <div class="item item-avatar" ng-repeat="activeuser in activeusersmessages">
        <img src="img/active.png">
        <h2>{{activeuser.username}}</h2>
        <h2> Message :{{activeuser.msgContent}} </h2>
        <p> At :{{activeuser.msgTime}}</p>
        <!-- <p> At :{{activeuser.timeAgo}}</p> -->

      </div>
      <br>

      <textarea rows="4" cols="42" style="border:solid 2px blue;" placeholder="Enter your message" ng-model="chat.message">

 </textarea>


      <button class="button icon-left  ion-paper-airplane button-positive button-block" ng-click="sendMessage()">Send message</button>


    </div>

</ion-view>
</ion-content>
