<ion-view view-title="Chat">
  <ion-content>
<div class="list">

    <div class="item item-avatar">
        <img src="../img/active.png">
      <h2>my name</h2>
    <h2>Marty McFlygfkgjfgkjfkgjfkgjfkgjfkgjkfjgkfjgkfgkf</h2>
    <p> At :November 05, 1955</p>
  </div>



  <!-- <div class="item item-avatar" ng-repeat="activeuser in activeusers">
      <img src="../img/active.png">
    <h2>{{activeuser.username}}</h2>
  <h2> Message :{{activeuser.msgContent}} </h2>
  <p> At :{{activeuser.msgTime}}</p>
</div> -->
<br>

  <textarea rows="4" cols="42" style="border:solid 2px blue;" placeholder="Enter your message">

 </textarea>

<button class="button icon-left ion-ios-chatboxes button-positive button-block" >Send message</button>


</div>

</ion-view>
  </ion-content>
