<ion-view view-title="">
  <ion-content class="homepage">
    <div class="overlay">
      <div class="contents">
        <div class="item item-thumbnail-left">
          <img src="img/logo.png">
        </div>
        <h2>(ME)^2</h2>
        <button class="button button-positive button-block" ui-sref="login">
        Log in
      </button>

        <button class="button button-assertive button-block" ui-sref="register">
        Register
      </button>
      </div>
    </div>
  </ion-content>
</ion-view>
